<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Telegram Digest</title>
    @using TelegramDigest.Web.Utils
    @inject IWebHostEnvironment Env
    @Html.LoadViteAssets("wwwroot/js/site.js", Env)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Telegram Digest</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <partial name="_NavMenu"/>
            </div>
            <a class="navbar-brand" href="/rss">
                <i class="bi bi-rss"></i>
            </a>
        </div>
    </nav>
</header>

<div class="container content-container">
    <partial name="_ErrorsPartial" />
    @RenderBody()
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - Telegram Digest
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
